
.button{


  &--add-book{
    color: #fff;
    font-size: 19px;
    background-color: #ccc;
    padding: 11px 52px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #ccc;
    position: relative;
    font-family: 'PT_Sans-Web-Regular',  sans-serif;

    &::before{
      font-family: 'FontAwesome';
      content: "\f02d";
      color: #fff;
      position: absolute;
      font-weight: bold;
      font-size: 21px;
      width: 20px;
      height: 30px;
      left: 20px;
      top: 12px;
  }
  &:hover{
    transition: 0.5s;
    background-color: #88e;
    border: 1px solid #88e;
  }
  }
  &--edit-book{
    width: 150px;
    height: 30px;
    padding-left:15px !important;
    color: #bbb;
    font-size: 15px;
    background-color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #bbb;
    cursor: pointer;
    transition: 0.5s;
    position: relative;

    &::before{
      font-family: 'FontAwesome';
      content: '\f040';
      color: #ccc;
      position: absolute;
      font-weight: bold;
      font-size: 14px;
      width: 14px;
      height: 14px;
      left: 5px;
      top: 7px;
      transition: 0.5s;
    }
    &:hover{
      transition: 0.5s;
      background-color: #0d8602;
      border: 1px solid #0d8602;
      color: #fff;
    }

  }
  &--del-book{
      @extend .button--edit-book;
      transition: 0.5s;
      position: relative;

      &::before{
        font-family: 'FontAwesome';
        content: '\f014' !important;
        color: #ccc;
        position: absolute;
        font-weight: bold;
        font-size: 14px;
        width: 14px;
        height: 14px;
        left: 7px;
        top: 7px;
    }
    &:hover{
      transition: 0.5s;
      background-color: #e88;
      border: 1px solid #e88;
    }
  }
  &--save{
    @extend .button--edit-book;
    background-color: #bbb;
    color: #eee;
    position: relative;
    transition: 0.5s;

    &::before{
      font-family: 'FontAwesome';
      content: '\f0c7' !important;
      color: #eee;
      position: absolute;
      font-weight: bold;
      font-size: 14px;
      width: 14px;
      height: 14px;
      left: 7px;
      top: 7px;
  }


  &:hover{
    transition: 0.5s;
    background-color: #7f7;
    border: 1px solid #7f7;
    color: #fff;
  }


  }
  &--close{
    @extend .button--edit-book;
    background-color: #eee;
    border: 1px solid #eee;
    position: relative;
    transition: 0.5s;

    &::before{
      font-family: 'FontAwesome';
      content: '\f05e' !important;
      color: #ccc;
      position: absolute;
      font-weight: bold;
      font-size: 14px;
      width: 14px;
      height: 14px;
      left: 7px;
      top: 7px;
  }

  &:hover{
    transition: 0.5s;
    background-color: #e88;
    border: 1px solid #e88;
    }
  }
  &--close-photo{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 8px;
    padding: 0;
    top: 9px;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &::before{
      font-family: 'FontAwesome';
      content: "\f00d";
      color: #f00;
      //position: absolute;
      font-weight: bold;
      font-size: 21px;
      width: 20px;
      height: 20px;

    }
  }

}
.button--edit-book:hover:before{
  transition: 0.5s;
  color: #fff;
}
