.body{
  background-color: #ffffff;
  background-image: url(/img/biblioteka.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
  max-width: 1920px;
  min-width: 1147px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: auto;
  //min-height: 300px;
  font-family: 'PT_Sans-Web-Regular',  sans-serif;




      &--flexbox{
          @include flexbox(flex,column,center,center,nowrap);
          }
}
.wrapper{
  max-width: 990px;
  width: 70%;
  height: 40%;
  margin: 0 auto;
  background-color: #eee;
  @include flexbox(flex,column,center,center,nowrap);
}
.visible--anable{
  display: inherit;
}
.visible--disable{
  display: none;
}
