.booklist{
  width: calc(100% - 30px);
  min-width: 290px;
  padding: 10px;
  background-color: #eee;

  &__title{
    margin: 5px 10px;
    font-size: 28px;
  }
  &__button{

  }
  &__table{
    background-color: #fff;
    //width: 100%;
    margin-top: 20px;
  }
  &__item{
    height: 100px;
    &--photo{
      width: 10%;
      border-bottom: 1px solid #eee;
      padding: 10px;
      word-break: break-all;
    }
    &--description{
      width: 80%;
      border-bottom: 1px solid #eee;

      &-block{
        @include flexbox(flex,column,center,center,nowrap);
      }
    }
    &--button-block{
      width: 10%;
      padding-right: 10px;
      border-bottom: 1px solid #eee;
    }
    &--buttons{
      @include flexbox(flex,column,center,center,nowrap);
    }
  }
}
.book__description{
  @include flexbox(flex,column,flex-start,center,nowrap);
  padding: 10px 20px;
  &-name{
    font-size: 14px;
    margin: 5px 0;
    word-break: break-all;

  }
  &-autor{
    font-size: 14px;
    word-break: break-all;
  }
  &-year{
    font-size: 14px;
    word-break: break-all;
  }
}
.add-book{
  @extend .booklist;
  width: 90vw;
  //height: 90vh;
  z-index: 100;
  position: fixed;
  //position: absolute;
  //top: 5%;
  top: 1vh;
  //transform: translate(0%, -43%);
  overflow: scroll;

  &__title{
    @extend .booklist__title;
    //margin: 0.5vh 10px;
    font-size: 0vh;
  }
  &__button{

  }
  &__form{
    @extend .booklist__table;
    padding: 0.5vh 8px;
    margin-top: 1vh;
    & p{
      padding: 1vh 3px;
      margin: 2vh 0;
    }
  }
  &__label{
    font-size: 14px;
    color: #333;
  }
  &__input{
    padding: 1vh 6px;
    width: 87%;
    height: 3vh;
    margin: 0vh 5%;

    &--year{
      width: 40%;
    }
  }
}
.open-photo{
  background-color: #fff;
  z-index: 100;
  position: fixed;
  padding: 10px;
  top: 50%;
  transform: translate(0%, -50%);

  &__photo{
    max-height: 93vmin;
    max-width: 93vmin;
  }

}
.black--background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 19;
}
