.body{
  background-color: #ffffff;
  background-image: url(../img/m-biblioteka.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: calc(100vw - 10px);
  //height: calc(100% - 10px );
  min-height:  calc(100vh - 10px );
  overflow: auto;
  margin: 0;
  padding: 5px;
  font-family: 'PT_Sans-Web-Regular',  sans-serif;


      &--flexbox{
          @include flexbox(flex,row,center,center,wrap);
          }
}
.wrapper{
  width: calc(100% - 10px);
  max-width: 90vw;
  //height: 100vh;
  max-height: calc(100% - 10px);
  //background-color: #eee;
  @include flexbox(flex,row,center,center,wrap);

}
.visible--anable{
  display: inherit;
}
.visible--disable{
  display: none;
}
.p--warning{
  color:red;
  margin: 1px;
  font-size: 14px;
}
